.header {
	text-align: center;
	background-color: rgb(254, 255, 213);

	&__inner {
		position: relative;
	}

	&-title {
		font-weight: bold;
		font-size: 1.7rem;
	}

	&-logout {
		position: absolute;
		top: -10%;
		right: 0;
	}
}

@import "media/768.scss";
@import "media/425.scss";